# Visualizations of Data

In [15]:
#Necessary Importations
import pandas as pd
import requests
import io
import os
import seaborn as sns
import matplotlib.pyplot as plt

# Necessary Lists

In [16]:
asean_list = ['VNM','LAO','THA','KHM','MYS','SGP','MMR','PHL','BRN','IDN']
south_asia_list = ['BGD','IND','PAK','NPL','LKA','BTN']
all_countries_list = ['VNM','LAO','THA','KHM','MYS','SGP','MMR','PHL','BRN','IDN','BGD','IND','PAK','NPL','LKA','BTN']

In [17]:
df_merged = pd.read_csv("..\data\processed\merged_data_2.csv")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\user\AppData\Local\Temp\ipykernel_18980\115161635.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_merged = pd.read_csv("..\data\processed\merged_data_2.csv")

In [18]:
df_merged.head()

,code,year,FarmCredit,ICTPolicy,ProductionValue,ProcessingValue,Fertilizer,Rural Access to Electricity(Percent of Population),Mobile Cellular Subscriptions (per 100 people),Fixed Broadband Subsciptions (per 100 people),...,"Used a mobile phone or the internet to pay bills, rural (% age 15+)","Used a mobile phone or the internet to pay bills, urban (% age 15+)",Used a mobile phone or the internet to send money (% age 15+),"Used a mobile phone or the internet to send money, female (% age 15+)","Used a mobile phone or the internet to send money, male (% age 15+)","Used a mobile phone or the internet to send money, rural (% age 15+)","Used a mobile phone or the internet to send money, urban (% age 15+)",Food supply quantity (kg/capita/yr)_Cereals - Excluding Beer,Food supply quantity (kg/capita/yr)_Starchy Roots,rolling_std
0,AFG,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.29,5.72,NaN
1,AFG,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.31,6.40,NaN
2,AFG,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.09,14.55,NaN
3,AFG,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.09,13.46,5.345682
4,AFG,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.92,13.96,3.242869

In [19]:
df_merged = df_merged[df_merged['code'].isin(all_countries_list)]

In [20]:
df_merged.head()

,code,year,FarmCredit,ICTPolicy,ProductionValue,ProcessingValue,Fertilizer,Rural Access to Electricity(Percent of Population),Mobile Cellular Subscriptions (per 100 people),Fixed Broadband Subsciptions (per 100 people),...,"Used a mobile phone or the internet to pay bills, rural (% age 15+)","Used a mobile phone or the internet to pay bills, urban (% age 15+)",Used a mobile phone or the internet to send money (% age 15+),"Used a mobile phone or the internet to send money, female (% age 15+)","Used a mobile phone or the internet to send money, male (% age 15+)","Used a mobile phone or the internet to send money, rural (% age 15+)","Used a mobile phone or the internet to send money, urban (% age 15+)",Food supply quantity (kg/capita/yr)_Cereals - Excluding Beer,Food supply quantity (kg/capita/yr)_Starchy Roots,rolling_std
12,BGD,2011,3271.100803,NaN,1.649775e+06,NaN,NaN,NaN,NaN,NaN,...,..,..,..,..,..,..,..,278.27,47.40,46.219922
13,BGD,2012,3213.392664,NaN,1.854820e+06,249808.744409,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.22,48.06,45.756559
14,BGD,2012,3213.392664,NaN,1.854820e+06,3669.694917,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.22,48.06,45.756559
15,BGD,2013,3296.803356,NaN,2.046421e+06,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,273.69,48.70,36.231714
16,BGD,2014,3524.704970,NaN,2.304186e+06,NaN,NaN,NaN,NaN,NaN,...,..,..,..,..,..,..,..,272.78,49.29,2.619036

# Descriptive Statistics

In [21]:
df_merged['FarmCredit'].describe()

count      42.000000
mean     2219.820062
std      2005.520826
min        13.788605
25%        80.813000
50%      1693.174178
75%      3853.768926
max      6122.736320
Name: FarmCredit, dtype: float64

# By Country

In [ ]:
# Farm Credit
df_FarmCredit_Country = df_merged.groupby('code')['FarmCredit'].describe()
df_FarmCredit_Country.head()

,count,mean,std,min,25%,50%,75%,max
code,,,,,,,,
BGD,16.0,4380.652326,936.422286,3213.392664,3467.729566,4542.845917,4885.181503,6122.736320
BRN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BTN,13.0,56.337145,24.944172,13.788605,36.919514,57.475975,79.122159,85.779739
IDN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IND,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Plotting Farm Credit
FarmCredit_Plot = df_FarmCredit_Country['mean'].sort_values()
FarmCredit_Plot.plot(kind='barh')
plt.title("Mean Farm Credit By Country Over Sample")